
<footer class="container-fluid foot-wrap">

    <div>
        <p><a href="index">Copyright © 2020  一起coding论坛</a>   powered by <a href="">LiangFanJun</a>&emsp;<a href="">HuoZhiWei</a>&emsp;<a href="">XuJingKe</a>
            <span style="float:right">一起coding论坛&emsp;<img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></span>
        <p>If you have any questions about this forum please contact us at Email 1208300170@qq.com<span style="float: right"><%=new Date()%><span><p>
    </div>

</footer>
