<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
   <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet" />
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="#" />
    <style>
        .lg{
            padding: 0 10px;
            height: 31px;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #C2D5E3;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
            background: #F2F2F2;
            line-height: 31px;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    </style>
</head>

<body>

<iframe  th:replace="header.html" width="100%" rameborder="0" scrolling="auto"></iframe>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                用户登录
            </h3>
        </div>
        <div class="panel-body">

    <form class="form-signin" id="loginForm" role="form" action="tlogin" method="post">
    <div class="form-group">
   <div class="input-group" style="text-align: left">
      <span class="input-group-addon" id="basic-addon1">
         <span class="glyphicon glyphicon-user"></span>
      </span>
    <input type="text" id="userName" name="userName" class="form-control" placeholder="用户名" aria-describedby="basic-addon1"  required autofocus>
    </div>
    </div>

    <div class="form-group">
        <div class="input-group" style="text-align: left">
        <span class="input-group-addon" id="basic-addon2">
                 <span class="glyphicon glyphicon-eye-close"></span>
        </span>

    <input type="password" id="password" name="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" required>
        </div>
    </div>

        <div class="form-group">
            <div class="input-group" style="text-align: left">
 <span class="input-group-addon" id="basic-addon3">
             <span class="glyphicon glyphicon-equalizer"></span>
        </span>
        <input type="text" id="verifyCode" name="verifyCode" class="form-control" placeholder="验证码" aria-describedby="basic-addon3" required>
                <span class="input-group-btn">
                    <img th:src="@{/kaptcha}" id="kaptcha" style="height:40px;" class="mr-2" onclick="refresh_kaptcha()"/>
                </span>

        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="rememberMe" name="rememberMe"> 记住密码
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" id="check" type="submit" >登录</button>
</form>

        </div>
    </div>
</div>
<iframe  th:replace="footer.html" width="100%" rameborder="0" scrolling="auto"></iframe>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
<script>
    $(function() {
        //设置警告框位置
        toastr.options.positionClass = 'toast-center-center';

        //表单校验
        $('#loginForm').bootstrapValidator({
            message: 'This value is not valid',
            //提供输入验证图标提示
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                userName: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 12,
                            message: '用户名长度必须在4到12之间'
                        },
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到12位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        }
                    }
                },
                verifyCode: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '验证码长度必须为4位'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: '验证码只能包含大写、小写、数字'
                        }
                    }
                }
            }
        })
            .on('success.form.bv', function(e) {//点击提交之后
                e.preventDefault();
                let $form = $(e.target);
                let bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data 提交至form标签中的action，result自定义
                $.post($form.attr('action'), $form.serialize(), function(result) {
                    //恢复submit按钮disable状态。
                    $('#loginForm').bootstrapValidator('disableSubmitButtons', false);

                    let errMessage = 'success';
                    switch(result.msg) {
                        case 'null':
                            errMessage = "登录失败，请检查是否正确输入字段!";
                            break;
                        case 'codeNull':
                            errMessage = "验证码已失效，请重新输入!";
                            break;
                        case 'login':
                            errMessage = "登录失败，用户名或密码错误!"
                            break;
                        case 'notMatch':
                            errMessage = "验证码错误，请重新输入!"
                            break;
                    }
                    if(errMessage == 'success'){
                        window.location.href="studentList";
                    }else{
                        //弹出错误提示的登录框
                        toastr.error(errMessage);
                        refresh_kaptcha();
                    }

                });
            });

    });

    //刷新验证码
    function refresh_kaptcha() {
       // var path = CONTEXT_PATH + "/kaptcha?p=" + Math.random();
        let path = "/kaptcha?p=" + Math.random();
        $("#kaptcha").attr("src", path);
    }



</script>
</body>
</html>